h1{
  margin-left: 40%;
  color: red;
}
section{
    display: flex;
    flex-wrap: wrap;
    
}
li{
  list-style-type: none;
  border: solid;
  padding: 2em;
  margin: 1%;
  flex: 1 1 20%;
}
footer{
  margin-left: 0%;
  color: red;
}
p{
  margin-left: 35%;
}
