header li{ 
  list-style-type : none;
}
header ol{
  display : inline-flex;
  margin : auto;
}
h1{
  margin :auto;
  padding-left: 2%;
}
header{
  display:flex;
  background-color:gray;
  padding-right: 4%;
}
#rechercher{
  margin : auto; 
}
<<<<<<< HEAD

#tous {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  
}

#film{
  width: 30%;
  margin-right: 10px;
  margin-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

=======
aside{
  display:flex;
  margin-left: 35%;
}
>>>>>>> sofiane/master
